<section class="slice py-7">
  <div class="container">
    <div class="row row-grid align-items-center">
      <h1>编辑课程</h1>
      <hr>
      <%= render "form", course: @course %>
      <%= link_to "返回", courses_path, class: "btn btn-secondary" %>
    </div>
  </div>
</section>
