<div id="<%= dom_id article %>">

  <p>
    <strong>用户:</strong>
    <%= article.user.username %>
  </p>

  <p>
    <strong>标题:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>正文:</strong>
    <%= article.content %>
  </p>

</div>
