<h1>Editing course file</h1>

<%= render "form", course_file: @course_file %>

<br>

<div>
  <%= link_to "Show this course file", @course_file %> |
  <%= link_to "Back to course files", course_files_path %>
</div>
