<h1>Editing question reply</h1>

<%= render "form", question_reply: @question_reply %>

<br>

<div>
  <%= link_to "Show this question reply", @question_reply %> |
  <%= link_to "Back to question replies", question_replies_path %>
</div>
