

<section class="slice py-7">
  <div class="container">
    <div class="row row-grid align-items-center">
      <h1>编辑资料</h1><hr>
      <p>提交后，您需要重新登录</p>
      <%= render "form", user: @user %>
    </div>
  </div>
</section>
