<div id="course_comment_<%= course_comment.id %>">
  <p>

    <strong>用户
      <%= link_to course_comment.user.username, user_url(course_comment.user) %> 发布于
      <%= time_ago_in_words(course_comment.created_at) %>前
    </strong><br/>
    <%= course_comment.content %>
  </p>
</div>
