<h1>Editing course comment</h1>

<%= render "form", course_comment: @course_comment %>

<br>

<div>
  <%= link_to "Show this course comment", @course_comment %> |
  <%= link_to "Back to course comments", course_comments_path %>
</div>
